name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - "*"

env:
  CARGO_TERM_COLOR: always
  BENCH_ARTIFACT_NAME: bench_baseline
  BENCH_LOCAL_PATH: target/criterion

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        toolchain:
          - stable
    steps:
      - uses: actions/checkout@v4
      - run: rustup update ${{ matrix.toolchain }} && rustup default ${{ matrix.toolchain }}
      - run: cargo build --verbose
      - run: cargo test --verbose

  benchmark:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        toolchain:
          - stable
    steps:
      - uses: actions/checkout@v4
      - run: rustup update ${{ matrix.toolchain }} && rustup default ${{ matrix.toolchain }}

      - name: Download baseline artifact
        uses: actions/download-artifact@v4
        continue-on-error: true
        with:
          name: ${{ env.BENCH_ARTIFACT_NAME }}
          path: ${{ env.BENCH_LOCAL_PATH }}

      - name: Run benchmarks
        run: cargo bench

      - name: Upload baseline artifact
        if: github.event_name == 'push' && github.ref == 'refs/heads/master'
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.BENCH_ARTIFACT_NAME }}
          path: ${{ env.BENCH_LOCAL_PATH }}
